body {
    margin: 0;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #BCBDBD;
}

i {
    color: #FFFFFF;
}

#myCarousel {
    height: 100%;
}
.carousel-control {
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.aboutHead {
    position: relative;
    padding: 25px 50px 50px 50px;
    margin: 0;
    width: 100%;
    min-height: 50vh;
    height: auto;
    color: #454545;
    background-color: #BCBDBD;
    font-size: large;
}

#past .container {
    padding: 0px;
    height: 100vh;
    width:100%;
    background-color: #BCBDBD;
}


.col-md-12 {
    padding: 50px;
}

.col-md-8  {
    color: #BCBDBD;
    position: relative;
    top: 50%;
}


#past h1 {
    padding: 50px;
}

.info-circle {
    height: 50px;
    width: 100px;
    background-color: blue;
    display: none;
}


#contact {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #BCBDBD;
}

#events .container {
    top:50%;
    left:50%;
    min-height: 100vh;
    height: auto;
    padding: 50px;
    width:100%;
    background-color: #454545;
    text-align: center;
}

#sponsors .container {
    padding: 25px 50px 50px 50px;
    height: 100vh;
    width:100%;
    background-color: #454545;
}


.circle h1 {
    font-size: 500%;
    color: #BCBDBD;
}

.circleHead {
    position: relative;
    margin: 0;
    background-color: #BCBDBD;
    height: 150px;

}

.circleHead .circle {

    padding-top: 20px;
    text-align: center;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: absolute;
    width: 700px;
    height: 150px;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url('images/code.jpg');
    background-attachment: fixed;
}
.wrapper {
    padding-left: 65px;
}

span.text-content {
    background: rgba(0,0,0,0.7);
    padding: 0px 30px 0px 30px;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    text-align: center;
}
.one:hover span.text-content {
    opacity: 1;
}
.two:hover span.text-content {
    opacity: 1;
}
.three:hover span.text-content {
    opacity: 1;
}
.four:hover span.text-content {
    opacity: 1;
}
.five:hover span.text-content {
    opacity: 1;
}
.six:hover span.text-content {
    opacity: 1;
}
.seven:hover span.text-content {
    opacity: 1;
}
.eight:hover span.text-content {
    opacity: 1;
}
.nine:hover span.text-content {
    opacity: 1;
}



span.text-content span {
    font-size:0.8vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

span.text-content span h2 {
    font-size:1.2vw;
    margin: 15px 0 0 0;
}

span.text-content span h3 {
    font-size:1vw;
    margin: 5px 0 10px 0;
    padding: 5px;
}




.col-md-4.one {
    background-image: url('images/Megan_Shipton_Events.jpg');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 33vh;
    font-size: 50%;
}

.col-md-4.two {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.three {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.four {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.five {
    background-image: url('images/Danny_Patterson_Pres_2.jpg');
    background-size: 100%;
    background-position: 0px 30%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.six {
    background-image: url('images/Sommer_Shurbaji_Projects.JPG');
    background-size: 100%;
    background-position: 0px 35%;
    background-repeat: no-repeat;
    height: 33vh;
}

.col-md-4.seven {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.eight {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.nine {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}




.vcontainer {
    position: fixed;
    width: 65px;
    height: 100%;
  background: rgba(69,69,69,1);
background: -moz-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(112,112,112,1) 51%, rgba(69,69,69,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(69,69,69,1)), color-stop(51%, rgba(112,112,112,1)), color-stop(100%, rgba(69,69,69,1)));
background: -webkit-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(112,112,112,1) 51%, rgba(69,69,69,1) 100%);
background: -o-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(112,112,112,1) 51%, rgba(69,69,69,1) 100%);
background: -ms-linear-gradient(left, rgba(69,69,69,1) 0%, rgba(112,112,112,1) 51%, rgba(69,69,69,1) 100%);
background: linear-gradient(to right, rgba(69,69,69,1) 0%, rgba(112,112,112,1) 51%, rgba(69,69,69,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#454545', GradientType=1 );
    text-align: center;
    z-index: 5;
}

.vnavbar a {
    margin: auto;
}

.vnavbar li {
    margin-top: 20px;
}

.jumbotron {

    background-image: url(images/Alt-Cover.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

#footer {
    background-color: #454545;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    font-size: .8em;
}

#logo{

bottom:15vh;
left:10vw;
position:absolute;

}

span h2 {
    color: white;
}

h1 {
    color: #454545;
}

h1.light {
    color: #BCBDBD;
}
h3 {
    color: #BCBDBD;
}

#title {
    color: #8dc63f;
    font-size: 700%;
    line-height: 1.2em;
}


h2, h2 a {
    color: black;
}

h2 a {
    text-decoration: none;
}

.form-info {
    margin: 0;
    padding:0;
}

.form-message {
    margin: 0;
    padding:0;
}



table {
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    padding: 10px;
    margin: 0;
    text-align: left;
}

table, th {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    background: #ffffff;
    color: black;
    cursor: default;
}


tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: whitesmoke;
}


.title {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*-------------------------------------------
NAV BAR boxes
--------------------------------------------*/
.code-tri {
    position: fixed;
    margin: 5px 0 0 20px;
    width: 0;
    height: 0;
    border-right: 12px solid #454545;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: none;
}

.code-nav {
    font-size: 75%;
    color: #FFFFF;
    position: fixed;
    margin: 0 0 0 30px;
    width: 125px;
    height: 30px;
    background-color: #454545;
    display: none;
}

.code-nav p {
    margin-top: 5px;
}



.fa-home:hover .code-nav{
    display: inline-block;
}
.fa-home:hover .code-tri{
    display: inline-block;
}

.fa-info-circle:hover .code-nav{
    display: inline-block;
}
.fa-info-circle:hover .code-tri{
    display: inline-block;
}

.fa-calendar:hover .code-tri{
    display: inline-block;
}
.fa-calendar:hover .code-nav{
    display: inline-block;
}


.fa-code:hover .code-trii{
    display: inline-block;
}
.fa-code:hover .code-nav{
    display: inline-block;
}

.fa-star:hover .code-tri{
    display: inline-block;
}
.fa-star:hover .code-nav{
    display: inline-block;
}

.fa-pencil-square-o:hover .code-tri{
    display: inline-block;
}
.fa-pencil-square-o:hover .code-nav{
    display: inline-block;
}

.fa-envelope-o:hover .code-tri{
    display: inline-block;
}
.fa-envelope-o:hover .code-nav{
    display: inline-block;
}


#form2{
    margin-top: 150px;
    display: inline-block;
    color:#fff;
    width:40vw;
    text-align: center;
}
#form2 h3{
    margin:0;
    background-color: #8dc63f;
    color: #454545;
    font-size:20px;
    border-bottom:none;
}
#form2 h3 span{
    display:block;
    padding:10px 20px;
}
#form2 fieldset{
    background:#454545;
    padding-bottom:1em;
}
#form2 legend{display:none;}

#form2 p{
    margin:.5em 20px;
    text-align: left;
}
#form2 label{
    display: block;
    margin-left: 0;
    text-align: left;
}
#form2 input, #form2 textarea{
    width:100%;
    border:1px solid #111;
    background-color: #BCBDBD;
    color:#454545;
}
#form2 textarea{
    height: 10vh;
    overflow:auto;
}

#form2 input {
    height: 4vh;
}


#form1{
    margin-top: 150px;
    display: inline-block;
    color:#fff;
    width:40vw;
    text-align: center;
}
#form1 h3{
    margin:0;
    background-color: #8dc63f;
    color: #454545;
    font-size:20px;
    border-bottom:none;
}
#form1 h3 span{
    display:block;
    padding:10px 20px;
}
#form1 fieldset{
    background:#454545;
    padding-bottom:1em;
}
#form1 legend{display:none;}

#form1 p{
    margin:.5em 20px;
    text-align: left;
}
#form1 label{
    display: block;
    margin-left: 0;
    text-align: left;
}
#form1 input, #form1 textarea{
    width:100%;
    border:1px solid #111;
    background-color: #BCBDBD;
    color:#454545;
}
#form1 textarea{
    height: 10vh;
    overflow:auto;
}

#form1 input {
    height: 4vh;
}

/*Scroll bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
