/*
0C5698
76A3CB
126560
723D31
98120C





                                               shade 0 = #76A3CB = rgb(118,163,203) = rgba(118,163,203,1) = rgb0(0.463,0.639,0.796)
shade 1 = #D6E7F7 = rgb(214,231,247) = rgba(214,231,247,1) = rgb0(0.839,0.906,0.969)
shade 2 = #A4C6E4 = rgb(164,198,228) = rgba(164,198,228,1) = rgb0(0.643,0.776,0.894)
shade 3 = #4F80AC = rgb( 79,128,172) = rgba( 79,128,172,1) = rgb0(0.31,0.502,0.675)
shade 4 = #336795 = rgb( 51,103,149) = rgba( 51,103,149,1) = rgb0(0.2,0.404,0.584)


                       shade 0 = #FFE38C = rgb(255,227,140) = rgba(255,227,140,1) = rgb0(1,0.89,0.549)
shade 1 = #FFF6DB = rgb(255,246,219) = rgba(255,246,219,1) = rgb0(1,0.965,0.859)
shade 2 = #FFEDB2 = rgb(255,237,178) = rgba(255,237,178,1) = rgb0(1,0.929,0.698)
shade 3 = #FFDB6A = rgb(255,219,106) = rgba(255,219,106,1) = rgb0(1,0.859,0.416)
shade 4 = #E5BF44 = rgb(229,191, 68) = rgba(229,191, 68,1) = rgb0(0.898,0.749,0.267)


                       shade 0 = #FFB08C = rgb(255,176,140) = rgba(255,176,140,1) = rgb0(1,0.69,0.549)
shade 1 = #FFE6DB = rgb(255,230,219) = rgba(255,230,219,1) = rgb0(1,0.902,0.859)
shade 2 = #FFCAB2 = rgb(255,202,178) = rgba(255,202,178,1) = rgb0(1,0.792,0.698)
shade 3 = #FF986A = rgb(255,152,106) = rgba(255,152,106,1) = rgb0(1,0.596,0.416)
shade 4 = #E57644 = rgb(229,118, 68) = rgba(229,118, 68,1) = rgb0(0.898,0.463,0.267)

*/

body {
    margin: 0;
    color: black;
    font-family: Cabin, Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
   background-color:#BCBDBD;
	overflow-x:hidden;
}

body h1 {
    font-family: lobster;
    font-size: 7vh;
}

body p{
    font-family: Cabin;
    font-size: 3vh;
}

i {

    color: rgba(210, 94,145,1)
	cursor: pointer; 

}

p span {
    color: #8dc63f;
}

.jumbotron {

    /*background-image:url("images/Alt-Cover.jpg");*/
    background: rgba(118,163,203,1);
    background: -moz-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(118,163,203,1)), color-stop(100%, rgba(73,101,125,1)));
    background: -webkit-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: linear-gradient(135deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a3cb', endColorstr='#49657d', GradientType=1 );
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    height: auto;
    margin: 0;
}

.navbar {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.navbar a {
    text-decoration: none;
}
.navbar li {
    font-size: 140%;
    color: black;
    display: inline;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.jumbotron p {
    font-family: lobster;
    font-size: 15vh;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.navbar .hover li:hover {
    background-color: #126560;
}


.navbar ul {
    list-style-type: none;
}


#myCarousel {
    height: 100%;
}
.carousel-control {
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.aboutHead {
    position: relative;
    padding: 25px 50px 50px 50px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    color: #454545;
    font-size: large;
    background: rgba(255,153,106,1);
    background: -moz-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,153,106,1)), color-stop(100%, rgba(229,119,68,1)));
    background: -webkit-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -o-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: linear-gradient(to bottom, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff996a', endColorstr='#e57744', GradientType=0 );
}

.aboutHead h1 {
    float: left;
    padding: 0px 0 30px 30px;
}
h1 span{
    color: #8dc63f;
}

#past .container {
    padding: 0px;
    height: 100vh;
    width:100%;
    background: rgba(118,163,203,1);
    background: -moz-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(118,163,203,1)), color-stop(100%, rgba(73,101,125,1)));
    background: -webkit-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: linear-gradient(135deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a3cb', endColorstr='#49657d', GradientType=1 );
}


.col-md-12 {
    padding: 50px;
}

.col-md-8  {
    color: #BCBDBD;
    position: relative;
    top: 50%;
}


#past h1 {
    padding: 50px;
}

.info-circle {
    height: 50px;
    width: 100px;
    background-color: blue;
    display: none;
}


#contact {
    width: 100%;
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    background: rgba(118,163,203,1);
    background: -moz-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(118,163,203,1)), color-stop(100%, rgba(73,101,125,1)));
    background: -webkit-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    background: linear-gradient(135deg, rgba(118,163,203,1) 0%, rgba(73,101,125,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a3cb', endColorstr='#49657d', GradientType=1 );
}

#events .container {
    top:50%;
    left:50%;
    min-height: 100vh;
    height: auto;
    padding: 50px;
    width:100%;
    text-align: center;
    background: rgba(255,220,106,1);
    background: -moz-linear-gradient(45deg, rgba(255,220,106,1) 0%, rgba(229,191,68,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,220,106,1)), color-stop(100%, rgba(229,191,68,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,220,106,1) 0%, rgba(229,191,68,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,220,106,1) 0%, rgba(229,191,68,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,220,106,1) 0%, rgba(229,191,68,1) 100%);
    background: linear-gradient(45deg, rgba(255,220,106,1) 0%, rgba(229,191,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc6a', endColorstr='#e5bf44', GradientType=1 );
}

#events h1 {
    float:left;
}

#sponsors .container {

    padding: 25px 50px 50px 50px;
    height: 100vh;
    width:100%;
    background: rgba(255,153,106,1);
    background: -moz-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,153,106,1)), color-stop(100%, rgba(229,119,68,1)));
    background: -webkit-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -o-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    background: linear-gradient(to bottom, rgba(255,153,106,1) 0%, rgba(229,119,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff996a', endColorstr='#e57744', GradientType=0 );
}
#sponsors h1 {
    text-align: left;
}


.team-head {
    height: 10vh;
}
.circle h1 {
    font-size: 500%;
    color: #BCBDBD;
}

.circleHead {
    position: relative;
    margin: 0;
    background-color: #BCBDBD;
    height: 150px;

}

.circleHead .circle {

    padding-top: 20px;
    text-align: center;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    position: absolute;
    width: 700px;
    height: 150px;
    border-radius: 50% / 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: url('images/code.jpg');
    background-attachment: fixed;
}
.wrapper {
    padding-left: 0px;
}

span.text-content {
    background: rgba(0,0,0,0.7);
    padding: 0px 30px 0px 30px;
    color: white;
    cursor: pointer;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    text-align: center;
}
.one:hover span.text-content {
    opacity: 1;
}
.two:hover span.text-content {
    opacity: 1;
}
.three:hover span.text-content {
    opacity: 1;
}
.four:hover span.text-content {
    opacity: 1;
}
.five:hover span.text-content {
    opacity: 1;
}
.six:hover span.text-content {
    opacity: 1;
}
.seven:hover span.text-content {
    opacity: 1;
}
.eight:hover span.text-content {
    opacity: 1;
}
.nine:hover span.text-content {
    opacity: 1;
}



span.text-content span {
    font-size:0.8vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

span.text-content span h2 {
    font-size:1.2vw;
    margin: 15px 0 0 0;
}

span.text-content span h3 {
    font-size:1vw;
    margin: 5px 0 10px 0;
    padding: 5px;
}




.col-md-4.one {
    background-image: url('images/Megan_Shipton_Events.jpg');
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    height: 33vh;
    font-size: 50%;
}

.col-md-4.two {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.three {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.four {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.five {
    background-image: url('images/Danny_Patterson_Pres_2.jpg');
    background-size: 100%;
    background-position: 0px 30%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.six {
    background-image: url('images/Sommer_Shurbaji_Projects.JPG');
    background-size: 100%;
    background-position: 0px 35%;
    background-repeat: no-repeat;
    height: 33vh;
}

.col-md-4.seven {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.eight {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}
.col-md-4.nine {
    background-image: url('images/koala.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
}




.vcontainer {
    position: fixed;
    width: 65px;
    height: 100%;
    background: rgba(25,135,62,1);
    background: -moz-linear-gradient(left, rgba(25,135,62,1) 0%, rgba(81,179,113,1) 50%, rgba(25,133,61,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(25,135,62,1)), color-stop(50%, rgba(81,179,113,1)), color-stop(100%, rgba(25,133,61,1)));
    background: -webkit-linear-gradient(left, rgba(25,135,62,1) 0%, rgba(81,179,113,1) 50%, rgba(25,133,61,1) 100%);
    background: -o-linear-gradient(left, rgba(25,135,62,1) 0%, rgba(81,179,113,1) 50%, rgba(25,133,61,1) 100%);
    background: -ms-linear-gradient(left, rgba(25,135,62,1) 0%, rgba(81,179,113,1) 50%, rgba(25,133,61,1) 100%);
    background: linear-gradient(to right, rgba(25,135,62,1) 0%, rgba(81,179,113,1) 50%, rgba(25,133,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19873e', endColorstr='#19853d', GradientType=1 );
    text-align: center;
    z-index: 5;

}

.vnavbar a {
    margin: auto;
}

.vnavbar li {
    margin-top: 20px;
}



#footer {
    background-color: #454545;
    margin-top: 0px;
    margin-left: 0px;
    padding: 20px;
    font-size: .8em;
}


span h2 {
    color: white;
}

h1 {
    color: #454545;
	text-align:left;
}

h1.light {
    color: #BCBDBD;
}
h3 {
    color: #BCBDBD;
}

#title {
    color: #8dc63f;
    font-size: 700%;
    line-height: 1.2em;
}


h2, h2 a {
    color: black;
}

h2 a {
    text-decoration: none;
}

.form-info {
    margin: 0;
    padding:0;
}

.form-message {
    margin: 0;
    padding:0;
}



table {
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    padding: 10px;
    margin: 0;
    text-align: left;
}

table, th {
    border: 1px solid black;
}

th {
    border: 1px solid black;
    background: #ffffff;
    color: black;
    cursor: default;
}


tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: whitesmoke;
}


.title {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*-------------------------------------------
NAV BAR boxes
--------------------------------------------*/
.code-tri {
    position: fixed;
    margin: 5px 0 0 20px;
    width: 0;
    height: 0;
    border-right: 12px solid #454545;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    display: none;

}

.code-nav {

    font-size: 75%;
    color: #FFFFF;
    position: fixed;
    margin: 0 0 0 30px;
    width: 125px;
    height: 30px;
    background-color: #454545;
    display: none;
	border-radius: 10px;
}

.code-nav p {
    margin-top: 5px;
	font-family: Arial;
	font-size: 17px;
}



.fa-home:hover .code-nav{
    display: inline-block;
}
.fa-home:hover .code-tri{
    display: inline-block;
}

.fa-info-circle:hover .code-nav{
    display: inline-block;
}
.fa-info-circle:hover .code-tri{
    display: inline-block;
}

.fa-calendar:hover .code-tri{
    display: inline-block;
}
.fa-calendar:hover .code-nav{
    display: inline-block;
}


.fa-code:hover .code-tri{
    display: inline-block;
}
.fa-code:hover .code-nav{
    display: inline-block;
}

.fa-star:hover .code-tri{
    display: inline-block;
}
.fa-star:hover .code-nav{
    display: inline-block;
}

.fa-pencil-square-o:hover .code-tri{
    display: inline-block;
}
.fa-pencil-square-o:hover .code-nav{
    display: inline-block;
}

.fa-envelope-o:hover .code-tri{
    display: inline-block;
}
.fa-envelope-o:hover .code-nav{
    display: inline-block;
}


#form2{
    margin: 100px 0 100px 0;
    display: inline-block;
    color:#fff;
    width:40vw;
    text-align: center;
}
#form2 h3{
    margin:0;
    background-color: #8dc63f;
    color: #454545;
    font-size:20px;
    border-bottom:none;
}
#form2 h3 span{
    display:block;
    padding:10px 20px;
}
#form2 fieldset{
    background:#454545;
    padding-bottom:1em;
}
#form2 legend{display:none;}

#form2 p{
    margin:.5em 20px;
    text-align: left;
}
#form2 label{
    display: block;
    margin-left: 0;
    text-align: left;
}
#form2 input, #form2 textarea{
    width:100%;
    border:1px solid #111;
    background-color: #BCBDBD;
    color:#454545;
}
#form2 textarea{
    height: 10vh;
    overflow:auto;
}

#form2 input {
    height: 4vh;
}


#form1{
    margin-top: 150px;
    display: inline-block;
    color:#fff;
    width:40vw;
    text-align: center;
}
#form1 h3{
    margin:0;
    background-color: #8dc63f;
    color: #454545;
    font-size:20px;
    border-bottom:none;
}
#form1 h3 span{
    display:block;
    padding:10px 20px;
}
#form1 fieldset{
    background:#454545;
    padding-bottom:1em;
}
#form1 legend{display:none;}

#form1 p{
    margin:.5em 20px;
    text-align: left;
}
#form1 label{
    display: block;
    margin-left: 0;
    text-align: left;
}
#form1 input, #form1 textarea{
    width:100%;
    border:1px solid #111;
    background-color: #BCBDBD;
    color:#454545;
}
#form1 textarea{
    height: 10vh;
    overflow:auto;
}

#form1 input {
    height: 4vh;
}

/*Scroll bar*/

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=72t0u0klPr8ciFchCv3pZnsttiF */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #8DC63F }	/* Main Primary color */
.color-primary-1 { color: #C9F094 }
.color-primary-2 { color: #AEE366 }
.color-primary-3 { color: #71AB20 }
.color-primary-4 { color: #53880B }

.color-secondary-1-0 { color: #329E57 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #80D09C }
.color-secondary-1-2 { color: #51B573 }
.color-secondary-1-3 { color: #1A893F }
.color-secondary-1-4 { color: #096D2B }

.color-secondary-2-0 { color: #D85C45 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFAC9D }
.color-secondary-2-2 { color: #F7846F }
.color-secondary-2-3 { color: #BB3B23 }
.color-secondary-2-4 { color: #95210C }

.color-complement-0 { color: #B73A71 }	/* Main Complement color */
.color-complement-1 { color: #E48DB3 }
.color-complement-2 { color: #D25E91 }
.color-complement-3 { color: #9E1E56 }
.color-complement-4 { color: #7E0A3D }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(141,198, 63,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(201,240,148,1) }
.rgba-primary-2 { color: rgba(174,227,102,1) }
.rgba-primary-3 { color: rgba(113,171, 32,1) }
.rgba-primary-4 { color: rgba( 83,136, 11,1) }

.rgba-secondary-1-0 { color: rgba( 50,158, 87,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(128,208,156,1) }
.rgba-secondary-1-2 { color: rgba( 81,181,115,1) }
.rgba-secondary-1-3 { color: rgba( 26,137, 63,1) }
.rgba-secondary-1-4 { color: rgba(  9,109, 43,1) }

.rgba-secondary-2-0 { color: rgba(216, 92, 69,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,172,157,1) }
.rgba-secondary-2-2 { color: rgba(247,132,111,1) }
.rgba-secondary-2-3 { color: rgba(187, 59, 35,1) }
.rgba-secondary-2-4 { color: rgba(149, 33, 12,1) }

.rgba-complement-0 { color: rgba(183, 58,113,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(228,141,179,1) }
.rgba-complement-2 { color: rgba(210, 94,145,1) }
.rgba-complement-3 { color: rgba(158, 30, 86,1) }
.rgba-complement-4 { color: rgba(126, 10, 61,1) }



/* Generated by Paletton.com Â© 2002-2014 */
/* http://paletton.com */
